bundleID: {{.BundleID}}
displayName: {{.AppName}}
version: 1
buildNumber: 1
deploymentTarget: 16.0
deviceFamily:
  - iphone
  - ipad
infoPath: Sources/Runner/Resources/Info.plist
iconPath: Sources/Runner/Resources/AppIcon.png
