// !$*UTF8*$!
{
	archiveVersion = 1;
	classes = {
	};
	objectVersion = 56;
	objects = {

/* Begin PBXBuildFile section */
		A11111111111111111111101 /* AppDelegate.swift in Sources */ = {isa = PBXBuildFile; fileRef = A11111111111111111111001 /* AppDelegate.swift */; };
		A11111111111111111111102 /* SceneDelegate.swift in Sources */ = {isa = PBXBuildFile; fileRef = A11111111111111111111002 /* SceneDelegate.swift */; };
		A11111111111111111111103 /* DriftViewController.swift in Sources */ = {isa = PBXBuildFile; fileRef = A11111111111111111111003 /* DriftViewController.swift */; };
		A11111111111111111111104 /* DriftRenderer.swift in Sources */ = {isa = PBXBuildFile; fileRef = A11111111111111111111004 /* DriftRenderer.swift */; };
		A11111111111111111111105 /* DriftMetalView.swift in Sources */ = {isa = PBXBuildFile; fileRef = A11111111111111111111005 /* DriftMetalView.swift */; };
		A11111111111111111111106 /* PlatformChannel.swift in Sources */ = {isa = PBXBuildFile; fileRef = A11111111111111111111006 /* PlatformChannel.swift */; };
		A11111111111111111111107 /* PlatformView.swift in Sources */ = {isa = PBXBuildFile; fileRef = A11111111111111111111007 /* PlatformView.swift */; };
		A11111111111111111111108 /* NativeTextInput.swift in Sources */ = {isa = PBXBuildFile; fileRef = A11111111111111111111008 /* NativeTextInput.swift */; };
		A11111111111111111111122 /* NativeSwitch.swift in Sources */ = {isa = PBXBuildFile; fileRef = A11111111111111111111023 /* NativeSwitch.swift */; };
		A11111111111111111111123 /* NativeActivityIndicator.swift in Sources */ = {isa = PBXBuildFile; fileRef = A11111111111111111111024 /* NativeActivityIndicator.swift */; };
		A11111111111111111111124 /* DatePickerChannel.swift in Sources */ = {isa = PBXBuildFile; fileRef = A11111111111111111111025 /* DatePickerChannel.swift */; };
		A11111111111111111111125 /* TimePickerChannel.swift in Sources */ = {isa = PBXBuildFile; fileRef = A11111111111111111111026 /* TimePickerChannel.swift */; };
		A11111111111111111111109 /* LaunchScreen.storyboard in Resources */ = {isa = PBXBuildFile; fileRef = A11111111111111111111009 /* LaunchScreen.storyboard */; };
		A11111111111111111111110 /* libdrift.a in Frameworks */ = {isa = PBXBuildFile; fileRef = A11111111111111111111010 /* libdrift.a */; };
		A11111111111111111111111 /* libdrift_skia.a in Frameworks */ = {isa = PBXBuildFile; fileRef = A11111111111111111111012 /* libdrift_skia.a */; };
		A11111111111111111111112 /* PermissionHandler.swift in Sources */ = {isa = PBXBuildFile; fileRef = A11111111111111111111013 /* PermissionHandler.swift */; };
		A11111111111111111111113 /* LocationHandler.swift in Sources */ = {isa = PBXBuildFile; fileRef = A11111111111111111111014 /* LocationHandler.swift */; };
		A11111111111111111111114 /* StorageHandler.swift in Sources */ = {isa = PBXBuildFile; fileRef = A11111111111111111111015 /* StorageHandler.swift */; };
		A11111111111111111111115 /* CameraHandler.swift in Sources */ = {isa = PBXBuildFile; fileRef = A11111111111111111111016 /* CameraHandler.swift */; };
		A11111111111111111111117 /* BackgroundHandler.swift in Sources */ = {isa = PBXBuildFile; fileRef = A11111111111111111111018 /* BackgroundHandler.swift */; };
		A11111111111111111111118 /* AccessibilityHandler.swift in Sources */ = {isa = PBXBuildFile; fileRef = A11111111111111111111019 /* AccessibilityHandler.swift */; };
		A11111111111111111111119 /* AccessibilityBridge.swift in Sources */ = {isa = PBXBuildFile; fileRef = A11111111111111111111020 /* AccessibilityBridge.swift */; };
		A11111111111111111111120 /* DriftLogger.swift in Sources */ = {isa = PBXBuildFile; fileRef = A11111111111111111111021 /* DriftLogger.swift */; };
		A11111111111111111111121 /* SecureStorageHandler.swift in Sources */ = {isa = PBXBuildFile; fileRef = A11111111111111111111022 /* SecureStorageHandler.swift */; };
		A11111111111111111111126 /* NativeAudioPlayer.swift in Sources */ = {isa = PBXBuildFile; fileRef = A11111111111111111111027 /* NativeAudioPlayer.swift */; };
		A11111111111111111111127 /* NativeVideoPlayer.swift in Sources */ = {isa = PBXBuildFile; fileRef = A11111111111111111111028 /* NativeVideoPlayer.swift */; };
		A11111111111111111111129 /* DriftMediaSession.swift in Sources */ = {isa = PBXBuildFile; fileRef = A11111111111111111111029 /* DriftMediaSession.swift */; };
		A11111111111111111111130 /* MediaErrorCode.swift in Sources */ = {isa = PBXBuildFile; fileRef = A11111111111111111111030 /* MediaErrorCode.swift */; };
/* End PBXBuildFile section */

/* Begin PBXFileReference section */
		A11111111111111111111000 /* Runner.app */ = {isa = PBXFileReference; explicitFileType = wrapper.application; includeInIndex = 0; path = Runner.app; sourceTree = BUILT_PRODUCTS_DIR; };
		A11111111111111111111001 /* AppDelegate.swift */ = {isa = PBXFileReference; lastKnownFileType = sourcecode.swift; path = AppDelegate.swift; sourceTree = "<group>"; };
		A11111111111111111111002 /* SceneDelegate.swift */ = {isa = PBXFileReference; lastKnownFileType = sourcecode.swift; path = SceneDelegate.swift; sourceTree = "<group>"; };
		A11111111111111111111003 /* DriftViewController.swift */ = {isa = PBXFileReference; lastKnownFileType = sourcecode.swift; path = DriftViewController.swift; sourceTree = "<group>"; };
		A11111111111111111111004 /* DriftRenderer.swift */ = {isa = PBXFileReference; lastKnownFileType = sourcecode.swift; path = DriftRenderer.swift; sourceTree = "<group>"; };
		A11111111111111111111005 /* DriftMetalView.swift */ = {isa = PBXFileReference; lastKnownFileType = sourcecode.swift; path = DriftMetalView.swift; sourceTree = "<group>"; };
		A11111111111111111111006 /* PlatformChannel.swift */ = {isa = PBXFileReference; lastKnownFileType = sourcecode.swift; path = PlatformChannel.swift; sourceTree = "<group>"; };
		A11111111111111111111007 /* PlatformView.swift */ = {isa = PBXFileReference; lastKnownFileType = sourcecode.swift; path = PlatformView.swift; sourceTree = "<group>"; };
		A11111111111111111111008 /* NativeTextInput.swift */ = {isa = PBXFileReference; lastKnownFileType = sourcecode.swift; path = NativeTextInput.swift; sourceTree = "<group>"; };
		A11111111111111111111023 /* NativeSwitch.swift */ = {isa = PBXFileReference; lastKnownFileType = sourcecode.swift; path = NativeSwitch.swift; sourceTree = "<group>"; };
		A11111111111111111111024 /* NativeActivityIndicator.swift */ = {isa = PBXFileReference; lastKnownFileType = sourcecode.swift; path = NativeActivityIndicator.swift; sourceTree = "<group>"; };
		A11111111111111111111025 /* DatePickerChannel.swift */ = {isa = PBXFileReference; lastKnownFileType = sourcecode.swift; path = DatePickerChannel.swift; sourceTree = "<group>"; };
		A11111111111111111111026 /* TimePickerChannel.swift */ = {isa = PBXFileReference; lastKnownFileType = sourcecode.swift; path = TimePickerChannel.swift; sourceTree = "<group>"; };
		A11111111111111111111009 /* LaunchScreen.storyboard */ = {isa = PBXFileReference; lastKnownFileType = file.storyboard; path = LaunchScreen.storyboard; sourceTree = "<group>"; };
		A11111111111111111111010 /* libdrift.a */ = {isa = PBXFileReference; lastKnownFileType = archive.ar; path = libdrift.a; sourceTree = "<group>"; };
		A11111111111111111111011 /* Info.plist */ = {isa = PBXFileReference; lastKnownFileType = text.plist.xml; path = Info.plist; sourceTree = "<group>"; };
		A11111111111111111111012 /* libdrift_skia.a */ = {isa = PBXFileReference; lastKnownFileType = archive.ar; path = libdrift_skia.a; sourceTree = "<group>"; };
		A11111111111111111111013 /* PermissionHandler.swift */ = {isa = PBXFileReference; lastKnownFileType = sourcecode.swift; path = PermissionHandler.swift; sourceTree = "<group>"; };
		A11111111111111111111014 /* LocationHandler.swift */ = {isa = PBXFileReference; lastKnownFileType = sourcecode.swift; path = LocationHandler.swift; sourceTree = "<group>"; };
		A11111111111111111111015 /* StorageHandler.swift */ = {isa = PBXFileReference; lastKnownFileType = sourcecode.swift; path = StorageHandler.swift; sourceTree = "<group>"; };
		A11111111111111111111016 /* CameraHandler.swift */ = {isa = PBXFileReference; lastKnownFileType = sourcecode.swift; path = CameraHandler.swift; sourceTree = "<group>"; };
		A11111111111111111111018 /* BackgroundHandler.swift */ = {isa = PBXFileReference; lastKnownFileType = sourcecode.swift; path = BackgroundHandler.swift; sourceTree = "<group>"; };
		A11111111111111111111019 /* AccessibilityHandler.swift */ = {isa = PBXFileReference; lastKnownFileType = sourcecode.swift; path = AccessibilityHandler.swift; sourceTree = "<group>"; };
		A11111111111111111111020 /* AccessibilityBridge.swift */ = {isa = PBXFileReference; lastKnownFileType = sourcecode.swift; path = AccessibilityBridge.swift; sourceTree = "<group>"; };
		A11111111111111111111021 /* DriftLogger.swift */ = {isa = PBXFileReference; lastKnownFileType = sourcecode.swift; path = DriftLogger.swift; sourceTree = "<group>"; };
		A11111111111111111111022 /* SecureStorageHandler.swift */ = {isa = PBXFileReference; lastKnownFileType = sourcecode.swift; path = SecureStorageHandler.swift; sourceTree = "<group>"; };
		A11111111111111111111027 /* NativeAudioPlayer.swift */ = {isa = PBXFileReference; lastKnownFileType = sourcecode.swift; path = NativeAudioPlayer.swift; sourceTree = "<group>"; };
		A11111111111111111111028 /* NativeVideoPlayer.swift */ = {isa = PBXFileReference; lastKnownFileType = sourcecode.swift; path = NativeVideoPlayer.swift; sourceTree = "<group>"; };
		A11111111111111111111029 /* DriftMediaSession.swift */ = {isa = PBXFileReference; lastKnownFileType = sourcecode.swift; path = DriftMediaSession.swift; sourceTree = "<group>"; };
		A11111111111111111111030 /* MediaErrorCode.swift */ = {isa = PBXFileReference; lastKnownFileType = sourcecode.swift; path = MediaErrorCode.swift; sourceTree = "<group>"; };
/* End PBXFileReference section */

/* Begin PBXFrameworksBuildPhase section */
		A11111111111111111111200 /* Frameworks */ = {
			isa = PBXFrameworksBuildPhase;
			buildActionMask = 2147483647;
			files = (
				A11111111111111111111110 /* libdrift.a in Frameworks */,
				A11111111111111111111111 /* libdrift_skia.a in Frameworks */,
			);
			runOnlyForDeploymentPostprocessing = 0;
		};
/* End PBXFrameworksBuildPhase section */

/* Begin PBXGroup section */
		A11111111111111111111300 = {
			isa = PBXGroup;
			children = (
				A11111111111111111111301 /* Runner */,
				A11111111111111111111302 /* Products */,
			);
			sourceTree = "<group>";
		};
		A11111111111111111111301 /* Runner */ = {
			isa = PBXGroup;
			children = (
				A11111111111111111111001 /* AppDelegate.swift */,
				A11111111111111111111002 /* SceneDelegate.swift */,
				A11111111111111111111003 /* DriftViewController.swift */,
				A11111111111111111111004 /* DriftRenderer.swift */,
				A11111111111111111111005 /* DriftMetalView.swift */,
				A11111111111111111111006 /* PlatformChannel.swift */,
				A11111111111111111111007 /* PlatformView.swift */,
				A11111111111111111111008 /* NativeTextInput.swift */,
				A11111111111111111111023 /* NativeSwitch.swift */,
				A11111111111111111111024 /* NativeActivityIndicator.swift */,
				A11111111111111111111025 /* DatePickerChannel.swift */,
				A11111111111111111111026 /* TimePickerChannel.swift */,
				A11111111111111111111013 /* PermissionHandler.swift */,
				A11111111111111111111014 /* LocationHandler.swift */,
				A11111111111111111111015 /* StorageHandler.swift */,
				A11111111111111111111016 /* CameraHandler.swift */,
				A11111111111111111111018 /* BackgroundHandler.swift */,
				A11111111111111111111019 /* AccessibilityHandler.swift */,
				A11111111111111111111020 /* AccessibilityBridge.swift */,
				A11111111111111111111021 /* DriftLogger.swift */,
				A11111111111111111111022 /* SecureStorageHandler.swift */,
				A11111111111111111111027 /* NativeAudioPlayer.swift */,
				A11111111111111111111028 /* NativeVideoPlayer.swift */,
				A11111111111111111111029 /* DriftMediaSession.swift */,
				A11111111111111111111030 /* MediaErrorCode.swift */,
				A11111111111111111111009 /* LaunchScreen.storyboard */,
				A11111111111111111111010 /* libdrift.a */,
				A11111111111111111111012 /* libdrift_skia.a */,
				A11111111111111111111011 /* Info.plist */,
			);
			path = Runner;
			sourceTree = "<group>";
		};
		A11111111111111111111302 /* Products */ = {
			isa = PBXGroup;
			children = (
				A11111111111111111111000 /* Runner.app */,
			);
			name = Products;
			sourceTree = "<group>";
		};
/* End PBXGroup section */

/* Begin PBXNativeTarget section */
		A11111111111111111111400 /* Runner */ = {
			isa = PBXNativeTarget;
			buildConfigurationList = A11111111111111111111450 /* Build configuration list for PBXNativeTarget "Runner" */;
			buildPhases = (
				A11111111111111111111502 /* Compile Drift */,
				A11111111111111111111500 /* Sources */,
				A11111111111111111111501 /* Resources */,
				A11111111111111111111200 /* Frameworks */,
			);
			buildRules = (
			);
			dependencies = (
			);
			name = Runner;
			productName = Runner;
			productReference = A11111111111111111111000 /* Runner.app */;
			productType = "com.apple.product-type.application";
		};
/* End PBXNativeTarget section */

/* Begin PBXProject section */
		A11111111111111111111600 /* Project object */ = {
			isa = PBXProject;
			attributes = {
				LastUpgradeCheck = 1500;
				ORGANIZATIONNAME = Drift;
				TargetAttributes = {
					A11111111111111111111400 = {
						CreatedOnToolsVersion = 15.0;
					};
				};
			};
			buildConfigurationList = A11111111111111111111650 /* Build configuration list for PBXProject "Runner" */;
			compatibilityVersion = "Xcode 13.0";
			developmentRegion = en;
			hasScannedForEncodings = 0;
			knownRegions = (
				en,
				Base,
			);
			mainGroup = A11111111111111111111300;
			productRefGroup = A11111111111111111111302 /* Products */;
			projectDirPath = "";
			projectRoot = "";
			targets = (
				A11111111111111111111400 /* Runner */,
			);
		};
/* End PBXProject section */

/* Begin PBXResourcesBuildPhase section */
		A11111111111111111111501 /* Resources */ = {
			isa = PBXResourcesBuildPhase;
			buildActionMask = 2147483647;
			files = (
				A11111111111111111111109 /* LaunchScreen.storyboard in Resources */,
			);
			runOnlyForDeploymentPostprocessing = 0;
		};
/* End PBXResourcesBuildPhase section */

/* Begin PBXShellScriptBuildPhase section */
		A11111111111111111111502 /* Compile Drift */ = {
			isa = PBXShellScriptBuildPhase;
			buildActionMask = 2147483647;
			files = (
			);
			inputFileListPaths = (
			);
			inputPaths = (
			);
			name = "Compile Drift";
			outputFileListPaths = (
			);
			outputPaths = (
			);
			runOnlyForDeploymentPostprocessing = 0;
			shellPath = /bin/bash;
			shellScript = "# Only run for ejected projects (driftw exists)\nif [ -x \"$PROJECT_DIR/driftw\" ]; then\n    \"$PROJECT_DIR/driftw\" compile ios\nfi\n";
		};
/* End PBXShellScriptBuildPhase section */

/* Begin PBXSourcesBuildPhase section */
		A11111111111111111111500 /* Sources */ = {
			isa = PBXSourcesBuildPhase;
			buildActionMask = 2147483647;
			files = (
				A11111111111111111111101 /* AppDelegate.swift in Sources */,
				A11111111111111111111102 /* SceneDelegate.swift in Sources */,
				A11111111111111111111103 /* DriftViewController.swift in Sources */,
				A11111111111111111111104 /* DriftRenderer.swift in Sources */,
				A11111111111111111111105 /* DriftMetalView.swift in Sources */,
				A11111111111111111111106 /* PlatformChannel.swift in Sources */,
				A11111111111111111111107 /* PlatformView.swift in Sources */,
				A11111111111111111111108 /* NativeTextInput.swift in Sources */,
				A11111111111111111111122 /* NativeSwitch.swift in Sources */,
				A11111111111111111111123 /* NativeActivityIndicator.swift in Sources */,
				A11111111111111111111124 /* DatePickerChannel.swift in Sources */,
				A11111111111111111111125 /* TimePickerChannel.swift in Sources */,
				A11111111111111111111112 /* PermissionHandler.swift in Sources */,
				A11111111111111111111113 /* LocationHandler.swift in Sources */,
				A11111111111111111111114 /* StorageHandler.swift in Sources */,
				A11111111111111111111115 /* CameraHandler.swift in Sources */,
				A11111111111111111111117 /* BackgroundHandler.swift in Sources */,
				A11111111111111111111118 /* AccessibilityHandler.swift in Sources */,
				A11111111111111111111119 /* AccessibilityBridge.swift in Sources */,
				A11111111111111111111120 /* DriftLogger.swift in Sources */,
				A11111111111111111111121 /* SecureStorageHandler.swift in Sources */,
				A11111111111111111111126 /* NativeAudioPlayer.swift in Sources */,
				A11111111111111111111127 /* NativeVideoPlayer.swift in Sources */,
				A11111111111111111111129 /* DriftMediaSession.swift in Sources */,
				A11111111111111111111130 /* MediaErrorCode.swift in Sources */,
			);
			runOnlyForDeploymentPostprocessing = 0;
		};
/* End PBXSourcesBuildPhase section */

/* Begin XCBuildConfiguration section */
		A11111111111111111111651 /* Debug */ = {
			isa = XCBuildConfiguration;
			buildSettings = {
				ALWAYS_SEARCH_USER_PATHS = NO;
				CLANG_ENABLE_MODULES = YES;
				CLANG_WARN_QUOTED_INCLUDE_IN_FRAMEWORK_HEADER = YES;
				CODE_SIGN_STYLE = Automatic;
				CURRENT_PROJECT_VERSION = 1;
				DEBUG_INFORMATION_FORMAT = dwarf;
				ENABLE_STRICT_OBJC_MSGSEND = YES;
				GCC_NO_COMMON_BLOCKS = YES;
				INFOPLIST_FILE = Runner/Info.plist;
				IPHONEOS_DEPLOYMENT_TARGET = 14.0;
				LD_RUNPATH_SEARCH_PATHS = (
					"$(inherited)",
					"@executable_path/Frameworks",
				);
				LIBRARY_SEARCH_PATHS = (
					"$(PROJECT_DIR)/Runner",
				);
				MARKETING_VERSION = 1.0;
				PRODUCT_BUNDLE_IDENTIFIER = "{{.BundleID}}";
				PRODUCT_NAME = Runner;
				SUPPORTED_PLATFORMS = "iphoneos iphonesimulator";
				SWIFT_VERSION = 5.0;
				TARGETED_DEVICE_FAMILY = "1,2";
				VALID_ARCHS = "x86_64 arm64";
				OTHER_LDFLAGS = (
					"-framework",
					Metal,
					"-framework",
					CoreGraphics,
					"-framework",
					Foundation,
					"-framework",
					UIKit,
					"-framework",
					Security,
					"-framework",
					LocalAuthentication,
					"-lc++",
				);
			};
			name = Debug;
		};
		A11111111111111111111652 /* Release */ = {
			isa = XCBuildConfiguration;
			buildSettings = {
				ALWAYS_SEARCH_USER_PATHS = NO;
				CLANG_ENABLE_MODULES = YES;
				CLANG_WARN_QUOTED_INCLUDE_IN_FRAMEWORK_HEADER = YES;
				CODE_SIGN_STYLE = Automatic;
				CURRENT_PROJECT_VERSION = 1;
				DEBUG_INFORMATION_FORMAT = dwarf-with-dsym;
				ENABLE_STRICT_OBJC_MSGSEND = YES;
				GCC_NO_COMMON_BLOCKS = YES;
				INFOPLIST_FILE = Runner/Info.plist;
				IPHONEOS_DEPLOYMENT_TARGET = 14.0;
				LD_RUNPATH_SEARCH_PATHS = (
					"$(inherited)",
					"@executable_path/Frameworks",
				);
				LIBRARY_SEARCH_PATHS = (
					"$(PROJECT_DIR)/Runner",
				);
				MARKETING_VERSION = 1.0;
				PRODUCT_BUNDLE_IDENTIFIER = "{{.BundleID}}";
				PRODUCT_NAME = Runner;
				SUPPORTED_PLATFORMS = "iphoneos iphonesimulator";
				SWIFT_VERSION = 5.0;
				TARGETED_DEVICE_FAMILY = "1,2";
				VALID_ARCHS = "x86_64 arm64";
				OTHER_LDFLAGS = (
					"-framework",
					Metal,
					"-framework",
					CoreGraphics,
					"-framework",
					Foundation,
					"-framework",
					UIKit,
					"-framework",
					Security,
					"-framework",
					LocalAuthentication,
					"-lc++",
				);
			};
			name = Release;
		};
		A11111111111111111111670 /* Debug */ = {
			isa = XCBuildConfiguration;
			buildSettings = {
				CODE_SIGN_STYLE = Automatic;
				DEVELOPMENT_TEAM = "";
				SWIFT_VERSION = 5.0;
			};
			name = Debug;
		};
		A11111111111111111111671 /* Release */ = {
			isa = XCBuildConfiguration;
			buildSettings = {
				CODE_SIGN_STYLE = Automatic;
				DEVELOPMENT_TEAM = "";
				SWIFT_VERSION = 5.0;
			};
			name = Release;
		};
/* End XCBuildConfiguration section */

/* Begin XCConfigurationList section */
		A11111111111111111111450 /* Build configuration list for PBXNativeTarget "Runner" */ = {
			isa = XCConfigurationList;
			buildConfigurations = (
				A11111111111111111111651 /* Debug */,
				A11111111111111111111652 /* Release */,
			);
			defaultConfigurationIsVisible = 0;
			defaultConfigurationName = Release;
		};
		A11111111111111111111650 /* Build configuration list for PBXProject "Runner" */ = {
			isa = XCConfigurationList;
			buildConfigurations = (
				A11111111111111111111670 /* Debug */,
				A11111111111111111111671 /* Release */,
			);
			defaultConfigurationIsVisible = 0;
			defaultConfigurationName = Release;
		};
/* End XCConfigurationList section */
	};
	rootObject = A11111111111111111111600 /* Project object */;
}
